.sa-popup-overlay {
  position: fixed;
  height: 100%;
  width: 100% !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255 255 255/0.6);
  z-index: 999999;
}

.sa-popup {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 5px rgba(0, 0, 0, 0.1);
  width: 37rem;
  text-align: center;
  margin: auto;
  position: relative;
  padding: 2rem;
  top: 22%;
}

.sa-header-img-container {
  height: 10rem;
  background-size: contain;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-position-y: 100%;
}



.sa-market-modal-title {
  /* margin-block-start: 1em; */
  font-size: 28px;
  font-weight: bold;
}

.sa-market-modal-text {
  margin-block: 1em;
  font-size: 14px;
  font-weight: 600;
}

.sa-market-modal-footer {
  text-align: left;
}

.saForm {
  display: flex;
  flex-direction: column;
}

.sa-selector-box {
  display: flex;
  gap: 1.2rem;
}

.sa-selector-container {
  margin: 0.6rem 0;
  padding-top: 3px;
  width: 100%;
}

.saSelectLabel {
  font-size: 13px;
  color: #6b6b6b;
  transition: transform 0.1s ease-out;
}

/* .sa-selector-container:focus-within .saSelectLabel {
    color: black;
    transform: scale(1.2);
    transition: transform 0.1s ease-in;
} */

.saSelect {
  padding: 6px;
  width: 100%;
  border: black 1px solid;
}

.sa-confirm-btn {
  padding: 5px;
  font-size: 20px;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: rgb(81 87 93);
}

.sa-confirm-btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sa-confirm-btn svg {
  width: 100%;
  height: 15px;
  fill: #fff !important;
}

.sa-modal-close-icon {
  border: none;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 3rem;
  padding: 0.5px 5px;
  border-radius: 20px;
  background-color: #fff0;
  cursor: pointer;
}

#country:focus {
  outline: none !important;
}

.dropdown {
  position: relative;
  display: block;
}

/* Style for the dropdown button */
.dropdown-btn,
.saSelectLabel {
  width: 100%; /* Set a fixed width for the buttons and labels */
  padding: 10px;

  /* border-radius: 4px; */
  cursor: pointer;
  position: relative;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  overflow-y: auto;
  max-height: 200px; /* Set a maximum height for the dropdown */
  min-width: 175px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* Style for the dropdown items */
.dropdown-content li {
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  color: #333;
  transition: background-color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

/* Change color on hover */
.dropdown-content li:hover {
  background-color: #ddd;
}

/* Style for the selected item in the button */


.saLanguageList::after {
  content: "\25BC";
  position: absolute;
  right: 8px; /* Adjust this value to control the distance between text and arrow */
  top: 50%;
  transform: translateY(-50%);
  color: black; /* Default color */
  transition: transform 0.3s ease; /* Optional: Add a smooth transition */
}

.saLanguageList.rotated::after {
  transform: translateY(-50%) rotate(180deg);
}


.saCountryList::after {
  content: "\25BC";
  position: absolute;
  right: 8px; /* Adjust this value to control the distance between text and arrow */
  top: 50%;
  transform: translateY(-50%);
  color: black; /* Default color */
  transition: transform 0.3s ease; /* Optional: Add a smooth transition */
}

.saCountryList.rotated::after {
  transform: translateY(-50%) rotate(180deg);
}





/* Style for the button when the dropdown is open */
.dropdown-btn.active {
  background-color: #2980b9;
  color: white;
}

/* Style for the dropdown items when the dropdown is open */
.dropdown-content.active {
  display: block;
}
.dropdown-content li.active {
  background-color: #ddd;
}

@media (min-width: 300px) and (max-width: 450px) {
  .sa-popup {
    width: 95% !important;
    top:20%;
  }

  .sa-selector-box {
    flex-direction: column;
    gap: 0.2rem;
  }

  .sa-market-modal-title {
    font-size: 23px;
  }
  

  .sa-selector-container {
    margin: 0px !important;
    width: 100% !important;
  }
}

@media (max-width:725px){
  .sa-popup {
      width: 85vw !important;
      /* top: 5%; */
  }
  
}

@media (max-width:400px){
  .sa-popup {
      width: 85vw !important;
      top: 12% !important;
      /* margin-left:17px; */
  }
  .sa-market-modal-text{
    font-size: 16px !important;
  }
}
